.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    align-content:space-between;
    *height: 310px;
}

.decoration{
    text-decoration: none;
}

.containerBtn{
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1000px;
}

.btn{
    margin: 100px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #092327;
    cursor: pointer;
}

.btn:hover{
    background: #ef8354;
}